<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/metrics">Display Metrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/metrics_ops">Add/Delete Metrics</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class=" btn btn-success mr-2 my-sm-0 " href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning mr-2 my-sm-0" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger my-2 my-sm-0" href="/logout">Logout</a>
        </li>
      </ul>
    </form>
  </div>
</nav>